# ======================================
# Python
# ======================================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
venv/
env/
.venv/
ENV/

# ======================================
# Jupyter Notebooks
# ======================================
.ipynb_checkpoints/

# ======================================
# IDEs
# ======================================

# VS Code
.vscode/

# PyCharm
.idea/

# ======================================
# Operating System Files
# ======================================

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# ======================================
# Logs
# ======================================
*.log

# ======================================
# Environment Variables
# ======================================
.env
.env.*

# ======================================
# Model Files (Optional)
# ======================================
*.h5
*.keras
*.pth
*.pt
*.joblib
*.pkl

# ======================================
# Temporary Files
# ======================================
*.tmp
*.temp

# ======================================
# Testing / Coverage
# ======================================
.pytest_cache/
.coverage
htmlcov/

backend/chroma_db/*
backend/parent_docs/*
backend/data/*

frontend/node_modules/
frontend/build/
frontend/dist/
frontend/coverage/
frontend/.DS_Store
frontend/*.log
frontend/.env*
frontend/!.env.example

frontend/package-lock.json
*.docx